<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>  
    <h2>Welcome to Caper Travel</h2>
    <p>We are happy to serve you.</p>
  </ion-slide>
  <ion-slide>
    <img src="./assets/images/safe-travels.png">
    <h2>Tour Packages</h2>
    <p>Make your tour amazing with us</p>
  </ion-slide>
  <ion-slide>
    <img src="./assets/images/award.png">    
    <h2>Leader in Tour Operations</h2>
    <p>India, Nepal, Bhutan, Sri Lanka, Maldives, Egypt, Russia and UAE Tours</p>
  </ion-slide>
</ion-slides>