<ion-header>
  <ion-toolbar>
    <ion-title>Hotel Vouchers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="voData">
    <ion-list>
      <ion-item *ngFor="let h of voData.vo">
        <ion-label>
          <h2>{{h.hotel_name}}</h2>
          <h3>{{h.room_type}} :: {{h.meal}}</h3>
          <p>{{h.city_name}}, Checkin:{{h.check_in}}, Checkout:{{h.check_out}}</p>
        </ion-label>
        <ion-icon name="eye-sharp" slot="end" (click)="openBrowser(h.id)"></ion-icon>
        <ion-icon name="share-social-sharp" slot="end" (click)="shareSocial(h.id,h.hotel_name,voData.tour_id)"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
