ion-content{
    --padding-start: 10px;
    --padding-end: 10px;
}
ion-input{
    border-bottom: 1px solid cornflowerblue;
    margin-bottom: 10px;;
}
ion-icon{
    float: right;
    font-size: 22px;
}
ion-back-button {
    display: block;
 }
 ion-button{
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
}