<ion-header>
  <ion-toolbar>
    <ion-title>Concierge Helpline</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<p><strong>CAPER TRAVEL COMPANY PVT. LTD.</strong></p>
<p><strong>Head Quarter</strong> <br>
  Caper House, H-3/15 DLF Phase-1,<br>
  Gurugram - 122002, Haryana,<br>
  INDIA</p>
<p><strong>Tel:</strong> +91 124 4600 300<br>
 <strong>Fax:</strong> +91 124 4600 340</p>
</ion-content>
